/* Space out content a bit */

.container {
  /*padding-top: 20px;
  padding-bottom: 20px; */

  background-color: #9771e3;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
  background: linear-gradient(316deg, #ffdf79, #ed747f, #e371d4, #8d5993, #9771e3);
  background-size: 600% 600%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  -webkit-animation: gradientShift 18s ease infinite;
  -moz-animation: gradientShift 18s ease infinite;
  animation: gradientShift 18s ease infinite; 
}
/* color changing animations */
@-webkit-keyframes gradientShift {
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}
@-moz-keyframes gradientShift {
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}
@keyframes gradientShift {
  0%{background-position:24% 0;}
  50%{background-position:77% 100%;}
  100%{background-position:24% 0;}
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
  width: 40%;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.top {
  height: 500px;
}

.middle {
  height: 700px;
}

.bottom {
  height: 700px;
}

#github {
  height: 150px;
  width: 200px;
}

#linkedin {
  height: 200px;
  width: 200px;
}

/*.top {
    height: 500px;
    background-image: url("art5.jpg");
}

.middle {
    height: 700px;
    background: LightSkyBlue;
}
*/
/*.bottom {
    height: 700px;
    /background: LightSkyBlue; 
    background: -webkit-linear-gradient(LightSkyBlue, blue); 
    background: -o-linear-gradient(LightSkyBlue, blue); 
    background: -moz-linear-gradient(LightSkyBlue, blue); 
    background: linear-gradient(LightSkyBlue, blue);
}*/

