/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.fixed {
    position: fixed;
    width: 700px;
    z-index: 1;
    background: #000;
    margin-top: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


/* different divs */
.top {
    height: 500px;
    background-image: url("art5.jpg");
}

.middle {
    height: 700px;
    background: LightSkyBlue;
}

.bottom {
    height: 700px;
    background: LightSkyBlue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(LightSkyBlue, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(LightSkyBlue, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(LightSkyBlue, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(LightSkyBlue, blue); /* Standard syntax */
}

